* @arenadata/cs-java-dev
/smart-frontend/** @alatunov @dbardin90 @KuzminIA @MrHalless @remizov-arena @rimakan @workNpp
/smart-integration/ @arenadata/cs-java-dev @arenadata/aqa
/smart-tests/ @arenadata/aqa
CODEOWNERS @Asmoday @iamlapa @KuzminIA @Vyacheslav-86